.mb-remote-btn {
  height: 100px;
  width: 200px;
  background-color: #d0d0d0;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  span {
    font-size: 3rem;
    font-weight: bold;
  }
}
