@import "./variables.scss";

.mb-sidebar {
  display: grid;
  grid-row-gap: 1rem;
  .mb-set-link {
    background-color: rgb(255 255 255 / 10%);
    padding: 1rem;
    border-radius: $border-radius;
    transition: all 0.25s;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    &.mb-active {
      background-color: rgb(255 255 255 / 30%);
      transform: scale(1.05);
      &:hover {
        transform: scale(1.05);
        background-color: rgb(255 255 255 / 30%);
      }
    }

    &:hover {
      background-color: rgb(255 255 255 / 15%);
    }
    p.mb-set-name {
      margin-bottom: 0;
      color: #fff;
      font-size: 2rem;
    }
  }
}
